@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:link, a:visited{
    text-decoration: none;
    color: inherit;

}

li {
    list-style: none;
    
}

.container{
    width: 1140px;
    margin: 0 auto;
   

}

.header-con{

}

.header-con>.header__menus-logo-wrap>
.header__logo >.header__menus>ul>li{
   

}