/* Global settings  */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:link, a:visited{
    text-decoration: none;
    color: inherit;

}

li {
    list-style: none;

}


.container{
    width: 1140px;
    margin: 0 auto;


}

.text-yellow{
    color:#ffbb33;
}
.text-gray{
    color: #8E9097;
}



/* Global settings :End  */

/* pc-header  */
header.pc-header{
    position:fixed;
    width: 100%;
    z-index: 20;
}

.header-con{

}

.header__logo>a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.header__logo>a:hover {
    text-decoration: none;
    color: white;
}

.header__menus>ul>li{
    font-size: 20px;;
    padding: 15px;
    font-weight: bold;
    color: white;
}

.header__menus>ul>li:hover>a{
    color:red;
}



.header__menus-2nd{
    display:block;
    overflow:hidden;
    width: 250px;
    position:absolute;
    background-color: black;
    top:67px;
    padding-left: 10px;
    height: 0;
    transition: height 0.5s;
}

.header__menus-2nd.active{
    height:200px;
}


.header__menus-2nd >li{
    padding: 10px 0;
    border-bottom: 1px solid white;
}


.header__Icons a:hover{
    color: red;
}
/* .header__menus>ul>li:hover{
    background-color: antiquewhite;
} */

.header__Icons>*{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
}

.horizontal-underline{
    display: none;
    position: absolute;
    width: 98px;
    background-color:gray;
    height: 4px;
    top: 71px;
    transition: 0.5s;
    left:210px;
}


/* pc-header :end */

/* .mobile-header  */
.mobile-header{
    z-index:10;
    position:fixed;
    width:100%;
}
/* .mobile-header :end */

/* mobile-side-bar  */
.mobile-side-bar{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    z-index:11;
    transition: visibility 0.5s, opacity 0.5s;
    background-color:rgba(0,0,0,0.5);
    position: fixed;
}

/* when side-bar not active, move sidebar by x-100%(outside screen)  */
.mobile-side-bar>.mobile-side-bar__contents{
    transform: translateX(100%);
    transition: transform 0.5s;
}

/* when mobile side-bar activated  */
.mobile-side-bar.active{
    visibility: visible;
    opacity:1;
}

/* when mobile side-bar activated slides the contents container  */
.mobile-side-bar.active>.mobile-side-bar__contents{
    transform: translateX(0%);

}

.mobile-side-bar__btn-close> div{
    top:40%;
    transform: rotate(-45deg);
}

.mobile-side-bar__btn-close> div:last-child{
    top:40%;
    transform: rotate(45deg);
}

.mobile-side-bar__body__menu-box-1 > ul > li>a{
    display: block;
    padding: 18px;
    font-weight: bold;
    color:white;
    font-size: 18px;
}

.mobile-side-bar__body__menu-box-1 > ul > li>
a:not(:only-child)::after{
    content:"[+]";
    float: right;
}
.mobile-side-bar__body__menu-box-1 > ul > li>
a:only-child::after{
    content:"[=]";
    float: right;
    cursor:default;
}



.mobile-side-bar__menus-2nd{
    display:block;
    background-color: #1e1f24;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    /* cursor: pointer; */
}

.mobile-side-bar__body__menu-box-1 > ul > li.active > .mobile-side-bar__menus-2nd{
    max-height: 500px;
}


.mobile-side-bar__menus-2nd > li > a{
    display: block;
    padding: 20px;
    font-weight: bold;
    color:white;
    font-size: 20px;
}



/* mobile-side-bar :end */

/* footer  */
.footer-bar{
    width:100%;
    background-color: black;
}

.footer-con{
    max-width:1310px;
    margin: 0 auto;
    color: white;
}

.footer__why-buy{
    color: white;
    padding: 30px 30px;
}

.footer__why-buy>h1{
    font-size: 25px;
}

.footer__why-buy>p{
    font-size: 20px;
}

.footer__menus>*{
    font-size: 22px;
    margin-bottom: 5px;
}.footer__menus>*>ul>li:nth-child(1){
     margin-bottom: 10px;
 }

.footer__menus-newsLetter>ul>li:nth-child(2){
    margin-top: 20px;
    background-color: red;
    padding: 20px;
}

.footer__menus-newsLetter>ul>li:nth-child(2)>a{

    width:40%;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

.footer__menus-useful-links{
    height:100px;
    background-color: #1e1f24;
    color: white;
}

.footer__menus-useful-links__icons>ul>li>a{
    font-size: 30px;
    margin: 0 10px;
}
/* footer :end  */




/* ************************mediaQueries******************************  */

/* when mobile mode */
@media (max-width:413px){
    html,body{
        width:412px;
    }

    .pc-header{
        display: none;
    }
    .mobile-header{
        width:412px;
    }

    .header__logo{
        padding-right: 0px;
        padding-left: 50px;
    }

    /* Mobile: footer  */
    .footer-bar>.footer-con *{
        font-size: 12px;
    }

    .footer-bar img{
        display: none;
    }
    .footer__menus>*>ul>li{
        text-align: center;
    }
    /* Mobile: footer  */



}




/* when mobile mode */

/* when small mode:  */
@media (max-width:1310px) and (min-width:414px) {
    .pc-header{
        display: none;
    }


    /*small mode: footer  */
    .footer-bar>.footer-con *{
        font-size: 15px;

    }

    .footer-bar img{
        display: none;
    }

    /* footer  */

}



/* when small mode  */


/* when  pc-wide mode  */
@media (min-width:1310px){
    .mobile-header{
        z-index: 10;
        display:none;
    }

    .mobile-side-bar{
        display: none;
    }
}


/* when mobile mode */
@media (max-width:413px){
    .box_wrap{
        display: block;
    }

    html,body{
        width:412px;
    }

    .pc-header{
        display: none;
    }
    .mobile-header{
        width:412px;
    }

    .header__logo{
        padding-right: 0px;
        padding-left: 50px;
    }




    .footer-bar>.footer-con {
        max-width:412px;
        height:900px;
    }
    .footer__menus{
        flex-direction: column;
    }
    /* Mobile: PC-Laptops  */

    /* Mobile: footer  */
    .footer-bar>.footer-con *{
        font-size: 12px;
    }

    .footer-bar img{
        display: none;
    }
    .footer__menus>*>ul>li{
        text-align: center;
    }
    /* Mobile: footer  */



}
/* when mobile mode */

/* pc listing customization */

section.listing
{
    padding-top: 100px;
    background-color: #1e1f24;
    color: white;
}

strong.caption
{
    font-size: 25pt;
    text-align: center;
}

strong.footnote
{
    margin: 0 auto;
    padding-left: 500px;
}

ul.specifications
{
    padding-left: 50px;
}
ul.specifications > li
{
    list-style: circle;
}

table.computer
{
    border: thin solid;
    padding-left: 50px;
    margin: 0 auto;
}
th, td
{
    border: thin solid;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}

th.header
{
    text-align: center;
}
/* pc listing customization :end*/